.jumbotron{
  padding: 200px;
  background-color: #008080
}

.container{
  margin: 20px auto;
  text-align: center;
}

.header-container{
  margin: 30px;
}

.event-detail_container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 70px;
}

.event-detail_image {
  height: 70%;
  width: 95%;
  margin: 10px 5px;
}

.event-detail__link {
  color: #000;
  text-decoration: none;
}

.event-detail_detail {
  background-color: #f8f8f8;
  border: 1px solid #f0f0f0;
  width: 90%;
  height: 12%;
  margin: 0 auto;
  display: block;
  align-items: center;
  justify-content: center;
}

.event-detail_card {
  width: 60%;
  height: 450px;
  -webkit-box-shadow: 3px 4px 14px 0px rgba(171,171,171,0.46);
  -moz-box-shadow: 3px 4px 14px 0px rgba(171,171,171,0.46);
  box-shadow: 3px 4px 14px 0px rgba(171,171,171,0.46);
}

.flip-container {
  perspective: 1000px;
}

.flip-container-flip .flipper {
  transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
  transition: 0.9s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.event-detail_card_front, .event-detail_card_back  {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.event-detail_card_front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.event-detail_card_back  {
  transform: rotateY(180deg);
}

.event-detail_card_back  {
  opacity: none;
}